---
BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 100
---
Language: Cpp

AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
# AlignConsecutiveDeclarations: true
AlignEscapedNewlines: true

# AlignAfterOpenBracket: Align

AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None

DerivePointerAlignment: false
PointerAlignment: Left
IndentCaseLabels: false
IndentPPDirectives: AfterHash
